.NavigationItems {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

@media (min-width: 500px) {
    .NavigationItems {
        flex-direction: row;
    }
}