.BuildControls {
    width: 100%;
    background-color: #cf8f2e;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 .2rem .1rem #ccc;
    margin: auto;
    padding: 4rem;
}

.CurrentPrice {
    margin-bottom: 4rem;
}

.OrderButton {
    background-color: #DAD735;
    outline: none;
    cursor: pointer;
    border: .1rem solid #966909;
    color: #966909;
    font-family: inherit;
    font-size: 2.5rem;
    padding: 1.5rem 3.0rem;
    box-shadow: .2rem .2rem .2rem #966909;
    margin-top: 4rem;
}

.OrderButton:hover, .OrderButton:active {
    background-color: #A0DB41;
    border: .1rem solid #966909;
    color: #966909;
}

.OrderButton:disabled {
    background-color: #C7C6C6;
    cursor: not-allowed;
    border: .1rem solid #ccc;
    color: #888888;
}

.OrderButton:not(:disabled) {
    animation: enable 0.3s linear;
}

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}