.OrderTitle {
    margin-bottom: 2rem;
}

.OrderSubtitle {
    margin-bottom: 2rem;
}

.OrderList {
    list-style: none;
    margin: 1rem auto 3rem auto;    
}

.OrderItem {
    margin: 1rem auto;
}

.OrderPrice {
    margin: 2rem auto;
}