.Toolbar {
    height: 5.6rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #703B09;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    z-index: 90;
}


.Toolbar nav {
    height: 100%;
    
}