*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: inherit;
}
html {
  font-size: 62.5%;
}

body {  
  font-family: sans-serif;
  text-align: center;
  box-sizing: border-box;
  font-size: 2rem;
}

