*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: inherit;
}
html {
  box-sizing: inherit;
  font-size: 62.5%;
}
body {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  background-color: #deeaee;
  color: #3d3d3d;
}
