.Posts > * {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
}

@media (min-width: 200px) and (max-width: 600px) {
    .Posts {
        width: 100%;
    }
}