.NavigationItem {
    margin: 2rem 0;
    display: block;
    width: 100%;
}

.NavigationItem a {
    color: #8f5c2c;
    text-decoration: none;
    width: 100%;
    display: block;
    font-size: 2.5rem;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {    
    color: #40a4c8;
}

@media (min-width: 500px) {
    .NavigationItem {
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    
    .NavigationItem a {
        color: white;
        height: 100%;
        padding: 1.6rem 1rem;
        border-bottom: .4rem solid transparent;
    }
    
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active {
        background-color: #8f5c2c;
        border-bottom: .4rem solid #40a4c8;
        color: white;
    }
}