.Post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    height: 20rem;
    padding: 1.6rem;
    text-align: center;
    border: .1rem solid #eee;
    box-shadow: 0 .2rem .3rem #ccc;
    margin: 1.0rem;
    box-sizing: border-box;
    cursor: pointer;
}

.Post:hover,
.Post:active {
    background-color: #C0DDF5;
}

.Author {
    margin: 1.6rem 0;
    color: #999999;
}

@media (min-width: 200px) and (max-width: 600px) {
    .Post {
        width: 100%;
    }
}