.Person {
    width: 60%;
    margin: 5% auto;
    text-align: center;
    border: 1px solid #eee;
    padding: 2rem;
    box-shadow: 0 5px 10px #ccc;
    position: relative;
}

.Person__btn {
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(-100%);
    cursor: pointer;
    font-size: 2rem;
    color: lightcoral;
}

.Person__content {
    padding: 2rem;
}