.Burger {
    width: 100%;
    margin: auto;
    height: 50rem;
    overflow: auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

@media (min-width: 500px) and (min-height: 400px) {
    .Burger {
        width: 35rem;
        height: 30rem;
    }
}

@media (min-width: 500px) and (min-height: 401px) {
    .Burger {
        width: 45rem;
        height: 40rem;
    }
}

@media (min-width: 1000px) and (min-height: 700px) {
    .Burger {
        width: 70rem;
        height: 60rem;
    }
}
