.CheckoutSummary {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 4rem;
}
.Buttons {
    position: relative;
    top: -5rem;
}
@media (max-width: 600px) {
    .CheckoutSummary {
        width: 500px;
    }
}