.BuildControls {
    width: 100%;
    background-color: #cf8f2e;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 .2rem .1rem #ccc;
    margin: auto;
    padding: 1rem 0;
}